body {
    background-color: black;
}

h1 {
    color: grey;
    margin-left: 20px;
}

.menu{
    border-radius: 15px;
    border: 2px solid #ffffff;
    padding: 20px; 
    width: 50px;
    height: 5px;    
}
    
