body {
    background-color: black;
}

h1 {
    color: grey;
    margin-left: 20px;
}

.menu{
    background-color: darkred;
    color: grey;
    border-style: solid;
    border-width: 30px;
    border-color: white;
}
    
